*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:'Poppins',sans-serif;

background:
radial-gradient(circle at top,#572c73,#080014 70%);

color:white;

overflow-x:hidden;

}



.stars{

position:fixed;

inset:0;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:45px 45px;

opacity:.3;

z-index:-1;

}



.hearts span{

position:fixed;

font-size:28px;

animation:float 8s infinite ease-in-out;

opacity:.7;

}


.hearts span:nth-child(1){

left:10%;
top:80%;

}


.hearts span:nth-child(2){

left:80%;
top:20%;

}


.hearts span:nth-child(3){

left:25%;
top:30%;

}


.hearts span:nth-child(4){

left:70%;
top:70%;

}


.hearts span:nth-child(5){

left:50%;
top:10%;

}



@keyframes float{

50%{

transform:translateY(-50px);

}

}





section{

min-height:100vh;

padding:60px 20px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}



.hero h1{

font-family:'Playfair Display',serif;

font-size:80px;

margin:25px;

}



.hero h2{

font-size:35px;

}



.small{

font-size:22px;

color:#ffd1e6;

letter-spacing:3px;

}



p{

font-size:22px;

line-height:1.8;

max-width:800px;

}



button{

margin-top:40px;

padding:18px 45px;

border:none;

border-radius:50px;

font-size:20px;

font-weight:600;

cursor:pointer;

background:white;

color:#54265f;

transition:.4s;

}



button:hover{

transform:scale(1.1);

}



.hidden{

display:none;

opacity:0;

}



.show{

display:flex;

animation:appear 1.5s forwards;

}



@keyframes appear{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}



.cards{

display:flex;

gap:30px;

margin-top:40px;

flex-wrap:wrap;

justify-content:center;

}



.cards div{

padding:35px;

width:250px;

background:rgba(255,255,255,.1);

border-radius:25px;

backdrop-filter:blur(10px);

font-size:20px;

}



@media(max-width:600px){

.hero h1{

font-size:50px;

}


.hero h2{

font-size:25px;

}


p{

font-size:18px;

}

}
