.story-button{

margin-top:45px;

padding:18px 45px;

border-radius:50px;

background:white;

color:#4a214f;

font-size:20px;

font-weight:600;

text-decoration:none;

display:inline-block;

box-shadow:0 0 30px rgba(255,255,255,.4);

transition:.4s;

}


.story-button:hover{

transform:scale(1.12);

}
